*{
    /* border:1px solid blue; */
}

.navbarheader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} 

.navitem{
    list-style-type: none;
    margin-right: 5rem;
}

.carddimensions{
    border-radius: 0.5rem;
    border: 1px solid grey;
    width: 18rem;
}

.cards{
    display:flex;
    justify-content: space-around;
}

.cardpicture{
    width: 12rem;
    height:10rem;
}

.cardpicturediv{
  text-align: center;
}

.containerr{
    margin: 0 auto;
    max-width: 90%;
}

.cardlist{
    
    list-style: none;
}

.playersname{
    text-align: center;
}

.playersdescription{
    margin-left: 1rem;
    text-align: left;
}

.playersdescriptiondiv{
    height:8rem;
}

.deletebuttondiv{
    text-align: center;
}

.editbuttondiv{
    margin-right: 1rem;
    text-align: right;
}

.cardsTemplate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.templates{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}