*{
    /* border:1px solid blue; */
}

.containerr{
    margin: 0 auto;
    max-width: 90%;
}

.indexheader{
    text-align: center;
}

.navbarheader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 0;
} 

.navitem{
    list-style-type: none;
    margin-left: 5rem;
}

.carddimensions{
    border-radius: 0.5rem;
    border: 1px solid grey;
    width: 18rem;
    height: 25rem;
    margin: 1rem 0;
}



.cardpicture{
    width: 12rem;
    height:10rem;
}

.cardpicturediv{
  text-align: center;
}

.cardlist{
    
    list-style: none;
}

.playersname{
    text-align: center;
}

.playersdescription{
    margin-left: 1rem;
    text-align: left;
    font-size: 1.1rem;
}

.playersdescriptiondiv{
    height:8rem;
}

.deletebuttondiv{
    text-align: center;
    margin-top: .5rem;
}

.editbuttondiv{
    margin-right: 1rem;
    text-align: right;
}

.cardsTemplate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.directionOfCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.showpicturetag{
    width: 54rem;
    height:40rem;
}

.showImg{
    text-align: center;
}

.showpagedescription{
    font-size: 4rem;
    text-align: center;
}

.showpageheader{
    text-align: center;
}

input{
    border-radius: 0.25rem;
}